* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  max-width: 100%;
}

.wrapper__container {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background: #f4f6f7;
}

.sidebar__container {
  padding-top: 55px;
}

.sidebar__list {
  text-align: center;
}

.sidebar__list-item {
  padding: 15px 0px 15px 0px;
  border: 1px solid #ffd490;
  border-radius: 0px 15px 15px 0;
  margin-bottom: 25px;
  border-left: none;
  border-right: none;
  background: #ffd490;
  transition-duration: 0.2s;
}

.inactive .sidebar__list-item {
  background-color: transparent;
  border: none;
}

.sidebar__list-link {
  cursor: pointer;
}

.main-content {
  width: 100%;
}

.main-content__header {
  width: 100%;
}

.main-content__header-container {
  width: 100%;
  height: 55px;
  background: #f4f6f7;
}
